.show-animal {
  position: relative;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 4px lightgray;
}

.animal {
  height: 200px;
  cursor: pointer;
}

.heart {
  position: absolute;
  right: 10%;
  bottom: 10%;
  max-width: 300px;
}
